#workbench {
    -fx-background-color: transparent;
}

.scroll-pane {
-fx-background-image: url("../../texture/workbenchbg.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}