
.module-skin1 {
    -fx-border-color: #333 ;
    -fx-background-image: url("../../texture/skins/black2.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}
.module-skin2 {
    -fx-border-color: #333 ;
    -fx-background-image: url("../../texture/skins/black1.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}
.module-skin3 {
     -fx-border-color: #333 ;
     -fx-background-image: url("../../texture/skins/brushed-aluminum.jpg");
     -fx-background-repeat: repeat;
     -fx-background-position: center center;
 }
 .module-skin4 {
      -fx-border-color: #333 ;
      -fx-background-image: url("../../texture/skins/wood.jpg");
      -fx-background-repeat: repeat;
      -fx-background-position: center center;
  }
.label{
    -fx-text-fill: #E0E0E0;
}

.display {
    -fx-padding: 0px 5px 0px 5px;
    -fx-font-family: monospace;
    -fx-font-size: 13px;
    -fx-pref-height: 23px;
    -fx-alignment:center-right;
    -fx-border-color: #333;
    -fx-background-color: #000;
    -fx-text-fill: #A0E632!important;
}


.close-button {
    -fx-background-image: url("../../texture/closemark.png");
    -fx-background-repeat: stretch !important;
    -fx-background-position: center center !important;
    -fx-background-size: contain !important;
    -fx-background-color: transparent !important;

    -fx-border-color: transparent !important;
    -fx-text-fill: transparent;
}



.mute-release {
    -fx-background-image: url("../../texture/mute.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-color: transparent;
        -fx-background-size: contain !important;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent;
    }

.mute-pressed {
        -fx-background-image: url("../../texture/mute-pressed.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-size: contain !important;
        -fx-background-color: transparent;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent;
        }

.record-release {
    -fx-background-image: url("../../texture/record.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-color: transparent;
        -fx-background-size: contain !important;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent ;
    }

.record-pressed {
        -fx-background-image: url("../../texture/record-pressed.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-size: contain !important;
        -fx-background-color: transparent;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent;
        }

.reset-button{
        -fx-background-image: url("../../texture/reset.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-color: transparent;
        -fx-background-size: contain !important;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent ;
}
.reset-button:armed{
        -fx-background-image: url("../../texture/reset-pressed.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-color: transparent;
        -fx-background-size: contain !important;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent;}

#rectStereo {
    -fx-fill:transparent;
    -fx-stroke: rgba(136, 221, 153, 0.5);
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}
#rectMono {
    -fx-fill:transparent;
    -fx-stroke: rgba(238, 118, 0, 0.5);
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}

#rectOut {
    -fx-fill:transparent;
    -fx-stroke: rgba(238, 118, 0, 0.5);
    -fx-stroke-width:2;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-stroke-line-cap: butt;
}

#rectIn {
    -fx-fill:transparent;
    -fx-stroke: rgba(136, 221, 153, 0.5);
    -fx-stroke-width:2;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-stroke-line-cap: butt;
}
