
.module-frame {
    -fx-border-color: #333 ;

}

#root {
    -fx-background-image: url("../../texture/carbon.jpeg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}


.display {
    -fx-padding: 0px 5px 0px 5px;
    -fx-font-family: monospace;
    -fx-font-size: 13px;
    -fx-pref-height: 23px;
    -fx-alignment:center-right;

    -fx-border-color: #333;
    -fx-background-color: #000;
    -fx-text-fill: #A0E632;
}


.button {
    -fx-background-image: url("../../texture/brushed-aluminum.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;

    -fx-background-color: #000;
    -fx-border-color: #333;
    -fx-text-fill: #000;
}

.button:hover{
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,.2), 50, 0.01, 0, 0);
}

.button:armed {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,.4), 50, .1, 0, 0);
}