
.module-frame {
    -fx-border-color: #333 ;
    -fx-background-image: url("../../texture/carbon.jpeg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}


.display {
    -fx-padding: 0px 5px 0px 5px;
    -fx-font-family: monospace;
    -fx-font-size: 13px;
    -fx-pref-height: 23px;
    -fx-alignment:center-right;

    -fx-border-color: #333;
    -fx-background-color: #000;
    -fx-text-fill: #A0E632;
}


.close-button {
    -fx-background-image: url("../../texture/closemark.png") !important;
    -fx-background-repeat: stretch !important;
    -fx-background-position: center center !important;
    -fx-background-size: contain !important;
    -fx-background-color: transparent !important;

    -fx-border-color: transparent !important;
    -fx-text-fill: transparent !important;
}



.button-release {
    -fx-background-image: url("../../texture/button.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-color: transparent !important;
        -fx-background-size: contain !important;
        -fx-border-color: transparent !important;
        -fx-text-fill: transparent !important;
    }

.button-pressed {
-fx-background-image: url("../../texture/button-pressed.png") ;
        -fx-background-repeat: stretch !important;
        -fx-background-position: center center !important;
        -fx-background-size: contain !important;
        -fx-background-color: transparent !important;
-fx-border-color: transparent !important;
        -fx-text-fill: transparent !important;}



#rectStereo {
    -fx-fill: rgba(136, 221, 153, 0.1);
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}

#rectMono {
    -fx-fill: rgba(238, 118, 0, 0.1);
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}        