.module-frame {
    -fx-border-color: #333  !important;
    -fx-background-image: url("../../../texture/skins/colorful.png") !important;
    -fx-background-repeat: repeat !important;
    -fx-background-position: center center !important;
}